.bio__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-headshot{
    width: 40%;
}

.about__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.about__container .aboutSection1 p,
.about__container .aboutSection2 p,
.bio__container p {
    color: var(--text-color);
}

