.experience__container {
  margin: 4rem;
  width: 100%;
}

.experience__details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  transition: border 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

.experience__details:hover {
  border: 0.2px solid #177977; /* Light border color, adjust as needed */
  border-radius: 11px;
  background-color: #0f3f6f1d; /* Slightly filled background with reduced opacity */
}

.job-description h3 {
  margin-top: 0;
}

.job-description h2 {
  margin-top: 0;
}

.job-description h6 {
  padding-bottom: 1rem;
  flex: 1;
}

.date {
  flex: 0 0 auto;
  margin-right: 5px;
  margin-top: 1px;
  width: 180px;
}

.position {
  margin: 0;
}

.text-container {
  display: inline-block; /* Makes the div size fit the text */
  background-color: var(--block);
  border-radius: 14px;
  padding: 5px 10px; /* Adjust as needed */
  margin: 4px;
}

.text-container span {
  font-family: var(--font);
  font-size: var(--text);
  color: var(--highlight-text);
  text-align: center; /* Center the text */
}
