:root{
    --yellow1: #F9D98E;  
    --grey: #3e3e3e;  
    --red1: #E62D69;   
    --black: #000000;
    --CLKGrey: #757575;
    --color-bg: #03192f;
    --color-bg-alt: #113458;
    --text-color: #D4D4D8;
    --block: #11508D;
    --highlight-text: #00E0FF;

    --transition: all 200ms ease;

    --font: 'Sora', sans-serif;
}
#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-bg);
    z-index: 2; /* Higher than other content */
    display: flex;
    justify-content: center;
    align-items: center;

}

#main {
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s;
}

/* Animation to swipe up the splash screen */
@keyframes swipeUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100vh); }
}

.animation{
    z-index: 2;
}

.main{
    display: flex;
    width: 85%;
    z-index: 2;
}

.left, .right {
    width: 50%;
    height: 100vh;
    padding: 2%;
    
}

.left {
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    
}

.right {
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}
 
body, html {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    background-position: center center;
    font-family: var(--font);
}

.container{
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

section > h3, section > h1{
    text-align: center;
}

.highlighted-word{
    font-weight: 800;
    color: white;
    transition: var(--transition);
}

.highlighted-word:hover {
  color: var(--highlight-text);
}

h1{
    font-size: 48px;
    font-weight: 400;
    color: white;
    margin-bottom: 1rem;
}

h2{
    font-size: 24px;
    font-weight: 400;
    color: var(--text-color);
}

h3{
    font-size: 20px;
    font-weight: 800;
    color: white;
}

h4{
    font-size: 24px;
    font-weight: 800;
    color: white;
 }

h5{
    margin: 0;
    font-size: 20px;
    color: white;
    font-weight: 300;
 }

h6{
    font-size: 15px;
    font-weight: 200;
    color: var(--text-color);
 }

 p{
    font-size: 16;
    font-weight: 300;
    color: var(--text-color);
    font-family: var(--font);
    line-height: 27px;
 }

svg {
    width: 100vw;
    height: 100vh;
}

/* Common wire style */
.wire {
    stroke: var(--grey); /* Black color for all wires */
    stroke-width: 8;
}

.CLKwire {
    stroke: var(--grey); /* Black color for all wires */
    stroke-width: 8;
}

.trail{
    stroke-width: 8;
}

/* Specific trail styles */
.trail.color-1 {
    stroke: #F9D98E;
}

.trail.color-2 {
    stroke: #E62D69;
}

.trail.color-3 {
    stroke: #9B0044;
}

.trail.color-4 {
    stroke: #F38821; 
}

.trail.color-5 {
    stroke: #E62D68;
}

.trail.color-6 {
    stroke: #9B0043;
}

.trail.color-7 {
    stroke: #268A81;
}

.Me {
    font-weight: 800;
    font-size: 40px; 
    font-family: var(--font);
    fill: #FFFFFF;
}

.labelID {
    font-weight: 800;
    font-size: 30px;
    font-family: var(--font);
}

.label.color-1 {
    fill: #F9D987;
}

.label.color-2 {
    fill: #E62D69;
}

.label.color-3 {
    fill: #9B0044;
}

.label.color-4 {
    fill: #F38821;
}

.labelID.color-1{
    fill: #CD8C3A;
}

.labelID.color-2{
    fill: #AF033E;
}

.labelID.color-3{
    fill: #F783AE;
}

.labelID.color-4{
    fill: #FFD57C;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 768px) {
    .main {
        flex-direction: column; /* Stack left and right sections vertically */
    }

    .left, .right {
        width: 100%; /* Full width for each section */
        height: auto; /* Height is auto to accommodate content */
        padding: 1rem; /* Adjust padding as needed */
    }

    /* Adjust SVG size for smaller screens */
    svg {
        width: 100%; /* Adjust width as needed */
        height: auto; /* Adjust height to maintain aspect ratio */
    }

    .experience__details.experience__details {
        flex-direction: column; /* Stack items vertically */
    }

    .experience__details .date.date {
        width: auto; /* Adjust width as needed */
        margin-right: 0; /* Remove the margin to the right */
        margin-bottom: 10px; /* Add some space below the date */
    }

    .experience__details .job-description.job-description {
        width: auto; /* Adjust width as needed */
    }

    #animated-text {
        font-size: 30px; /* Adjust the size as needed */
    }
}
