:root{
    --yellow1: #F9D98E;  
    --grey: #3e3e3e;  
    --red1: #E62D69;   
    --black: #000000;
    --CLKGrey: #757575;
    --color-bg: #0A2C4E;
    --text-color: #76A9F5;
    --section-header: #2E7BC8;


    /*container class width will change with screen size*/
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}
 
body, html {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    background-position: center center;
    font-family: 'Inter', sans-serif;
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    margin-top: 1rem;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
}

section {
    padding: 20px;
}

html {
    scroll-behavior: smooth;
}

section > h3, section > h1{
    text-align: center;
}

#about h3 {
    margin-top: 3rem;
    margin-bottom: 0.1rem;
}

#about h1 {
    margin-top: 0.2rem;
    margin-bottom:3rem;
}


h1{
    font-size: 64px;
    font-weight: 800;
    color: white;
}

h3{
    font-size: 32px;
    font-weight: 800;
    color: var(--section-header);
}

 