nav {
    z-index: 10;
}

.nav-container{
    padding-top: 2rem;
    margin: 0 auto;
    width: 80%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a{
    display: block;
    color: var(--text-color);
    text-decoration: none;
    transition: var(--transition);
    line-height: 40px;
    font-weight: 400;
    font-size: 20px;
}

li a:hover {
  color: var(--highlight-text);
}

li a span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: var(--transition);
}


li a span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5px;
  transition: var(--transition);
}

li a:hover span {
  padding-right: 15px;
}

li a:hover span:after {
  opacity: 1;
  right: 0;
}
