.projects__container {
  margin: 4rem;
  width: 100%;
}

.project__details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
  transition: border 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

.project__details a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
}

.project__details a:hover {
  text-decoration: underline;
  color: var(--highlight-text);
}

.project__details:hover {
  border: 0.5px solid #84d0ff; /* Light border color, adjust as needed */
  border-radius: 11px;
  background-color: rgba(
    255,
    255,
    255,
    0.05
  ); /* Slightly filled background with reduced opacity */
}

.project-description-container h3 {
  margin-top: 0;
}

.project-image-container {
  padding-bottom: 1rem;
}

.position {
  margin: 0;
}

.project-image {
  border-radius: 11px;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.project-link {
  text-decoration: none; /* Removes underline from links */
  color: inherit; /* Keeps text color consistent */
  display: block; /* Ensures the link covers the full container area */
}

.fun-fact_container p {
  padding-left: 5%;
}

.fun-fact_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.fun-fact_container a {
  text-decoration: none;
  color: var(--highlight-text);
  font-size: 16px;
}

.fun-fact_container a:hover {
  text-decoration: underline;
}

.project-description-container span {
  color: var(--highlight-text);
}
