:root {
    --yellow1: #F9D98E;  /* Color for the current and trail */
    --grey: #3e3e3e;     /* Color for the wire */
}

body, html {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/Desktop - 1.png');
    background-position: center center;
}

svg {
    width: 100vw;
    height: 100vh;
}

/* Styling for wires, trails, and currents */
.wire {
    stroke-width: 5;
}

.trail {
    stroke-width: 5;
}

.current {
    filter: url(#glow);
}

.color-1 {
    stroke: var(--yellow1);

}

.color-2 {
    stroke: var(--yellow1);
}
