:root {
    --yellow1: #F9D98E;  
    --grey: #3e3e3e;  
    --red1: #E62D69;   
    --black: #000000;
    --CLKGrey: #757575;

}

body, html {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#0A2C4E, #09243E);
    /*background: url('images/Desktop - 2.png');*/
    background-position: center center;
}

svg {
    width: 100vw;
    height: 100vh;
}

/* Common wire style */
.wire {
    stroke: var(--grey); /* Black color for all wires */
    stroke-width: 8;
}

.CLKwire {
    stroke: var(--grey); /* Black color for all wires */
    stroke-width: 8;
}

.trail{
    stroke-width: 8;
}

/* Specific trail styles */
.trail.color-1 {
    stroke: #F9D98E;
}

.trail.color-2 {
    stroke: #E62D69;
}

.trail.color-3 {
    stroke: #9B0044;
}

.trail.color-4 {
    stroke: #F38821; 
}

.trail.color-5 {
    stroke: #E62D68;
}

.trail.color-6 {
    stroke: #9B0043;
}

.trail.color-7 {
    
}