svg {
    width: 100vw;
    height: 100vh;
}

/* Common wire style */
.wire {
    stroke: var(--grey); /* Black color for all wires */
    stroke-width: 8;
}

.CLKwire {
    stroke: var(--grey); /* Black color for all wires */
    stroke-width: 8;
}

.trail{
    stroke-width: 8;
}

/* Specific trail styles */
.trail.color-1 {
    stroke: #F9D98E;
}

.trail.color-2 {
    stroke: #E62D69;
}

.trail.color-3 {
    stroke: #9B0044;
}

.trail.color-4 {
    stroke: #F38821; 
}

.trail.color-5 {
    stroke: #E62D68;
}

.trail.color-6 {
    stroke: #9B0043;
}

.trail.color-7 {
    stroke: #268A81;
}

.Me {
    font-weight: 800;
    font-size: 40px; 
    font-family: 'Sora', sans-serif;
    fill: #FFFFFF;
}

.labelID {
    font-weight: 800;
    font-size: 30px;
    font-family: 'Sora', sans-serif;
}

.label.color-1 {
    fill: #F9D987;
}

.label.color-2 {
    fill: #E62D69;
}

.label.color-3 {
    fill: #9B0044;
}

.label.color-4 {
    fill: #F38821;
}

.labelID.color-1{
    fill: #CD8C3A;
}

.labelID.color-2{
    fill: #AF033E;
}

.labelID.color-3{
    fill: #F783AE;
}

.labelID.color-4{
    fill: #FFD57C;
}