svg {
    width: 100vw;
    height: 100vh;
}

/* Common wire style */
.wire {
    stroke: var(--grey); /* Black color for all wires */
    stroke-width: 8;
}

.CLKwire {
    stroke: var(--grey); /* Black color for all wires */
    stroke-width: 8;
}

.trail{
    stroke-width: 8;
}

.Me {
    font-weight: 800;
    font-size: 40px; 
    font-family: 'Sora', sans-serif;
    fill: #FFFFFF;
}

.labelID {
    font-weight: 800;
    font-size: 30px;
    font-family: 'Sora', sans-serif;
}
